/* Admin1.css */

.admin-page {
  font-family: 'Montserrat', sans-serif;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 150px;
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
  margin-top: 50px;
}

.form-row {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.form-row input,
.form-row select,
.form-row textarea {
  flex: 1;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  max-width: 250px;
}
.form-row label1 {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

textarea {
  height: 100px;
  resize: none;
}

/* Styling for Feature and Safety Feature Labels */
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between labels */
  margin-top: 10px;
  color: #000;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.checkbox-group label:hover {
  background-color: #4599fe;
  transform: scale(1.05);
}

.checkbox-group input[type="checkbox"] {
  margin-right: 8px; /* Space between checkbox and label text */
  accent-color: #4599fe; /* Checkbox highlight color */
}

.checkbox-group input[type="checkbox"]:focus + label {
  outline: 2px solid #2085ff;
  outline-offset: 2px;
}


.success-message {
  color: #28a745;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.error-message {
  color: #dc3545;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  align-self: center;
}

button:hover {
  background: #0056b3;
}

input[type="file"] {
  border: none;
  padding: 0;
  font-size: 14px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
.image-preview h4{
color: #000;
}
.image-preview ul{
  color: #000;
  }