.footer {
  background-color: #4599fe;
  color: #000000;
  padding: 40px 20px;
  font-family: 'Montserrat', sans-serif;
  height: auto;
  margin-top: 100px;
  padding-right: 50px;
  padding-left: 50px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-logo img {
  max-width: 250px;
  padding-top: 15px;
}

.footer-links {
  display: flex;
  gap: 40px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  text-align: left; /* Ensure links are left-aligned */
}

.footer-links li {
  margin-bottom: 10px;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-links li:hover {
  color: #ffffff;
}

.footer-description {
  max-width: 300px;
  line-height: 1.6;
  font-size: 15px;
}

.footer-contact {
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
  margin-top: 15px;
}

.contact-item {
  margin-bottom: 20px;
  align-items: center;
  gap: 10px;
}

.icon1 {
  font-size: 18px;
  color: #ffffff;
}

.footer-contact span {
  color: #000000;
}

/* Responsive Design for Mobile View */
@media (max-width: 768px) {
  .footer {
    padding: 20px 10px;
    margin-top: 100px;
  }

  .footer-container {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .footer-logo img {
    max-width: 200px;
  }

  .footer-links {
    flex-direction: column;
    align-items: flex-start; /* Ensure left alignment on smaller screens */
    gap: 10px;
  }

  .footer-links ul {
    text-align: left;
  }

  .footer-description {
    max-width: 100%;
    font-size: 14px;
    line-height: 1.5;
  }

  .footer-contact {
    font-size: 14px;
    align-items: flex-start; /* Align items to the left */
  }

  .icon {
    font-size: 16px;
  }
}
