/* Hero Section Styling */
.hero-section10 {
  background-image: url("../assets/bg11.png");
  background-size: cover;
  height: 95vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  padding-top: 50px;
}

.hero-content10 {
  text-align: left; /* Left-align the text */
  align-items: left;
  align-self: start;
}

.hero-title1 {
  font-size: 66px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 15px;
  margin-top: 170px;
  margin-left: 130px;
  text-align: left; /* Left-align the text */
  align-items: left;
  align-self: start;
}

.hero-title2 {
  font-size: 66px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 15px;
  margin-top: 20px;
  margin-left: 130px;
  text-align: left; /* Left-align the text */
  align-items: left;
  align-self: start;
}

.hero-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4599FE;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 130px;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

.hero-button:hover {
  background-color: #525252;
}

.hero-button-icon {
  margin-right: 8px;
  font-size: 20px;
}



@media (max-width: 768px) {
  .hero-section10 {
    height: 50vh; /* Further adjust height for mobile */
    padding-top: 20px; /* Further adjust padding for mobile */
    align-self: center;
  }

  .hero-title1{
    font-size: 30px; /* Further reduce font size for small screens */
    margin-left: 20px; /* Reduce margin further */
    margin-top: 120px; /* Adjust top margin */
  }
  .hero-title2 {
    font-size: 30px; /* Further reduce font size for small screens */
    margin-left: 20px; /* Reduce margin further */
    margin-top: 15px; /* Adjust top margin */
  }

  .hero-button {
    font-size: 14px; /* Reduce button font size */
    padding: 6px 12px; /* Further reduce padding */
    margin-left: 20px; /* Further reduce margin */
  }
}
