/* Hero Section Styling */
.hero-section {
  background-image: url("../assets/bg11.png");
  background-size: cover;
  height: 95vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  padding-top: 50px;
}

.hero-content {
  text-align: left; /* Left-align the text */
}

.hero-title {
  font-size: 66px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 15px;
  margin-top: 190px;
  margin-left: 130px;
}
.hero-title-1 {
  font-size: 66px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 15px;
  margin-top: 20px;
  margin-left: 130px;
}

.hero-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4599FE;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 130px;
  margin-top: 10px;
}

.hero-button:hover {
  background-color: #525252;
}

.hero-button-icon {
  margin-right: 8px;
  font-size: 20px;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  .hero-section {
    padding: 40px 20px;
  }

  .hero-title {
    font-size: 28px;
  }

  .hero-description {
    font-size: 16px;
  }

  .hero-button {
    font-size: 16px;
  }
}
