/* Login.css */
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 150px;
}

.login-page form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

input {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

button {
  padding: 10px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  background-color: #ca0505;
}

.error {
  color: red;
  font-size: 14px;
}

/* Mobile View Adjustments */
@media (max-width: 768px) {
  .login-page {
    padding: 15px; /* Reduce padding for smaller screens */
    margin-top: 150px; /* Adjust top margin to fit better */
  }

  .login-page form {
    margin-top: 30px; /* Adjust margin to make form appear better on smaller screens */
    gap: 10px; /* Reduce the gap between form elements */
  }

  input {
    width: 100%; /* Make input fields full-width on mobile */
    padding: 12px; /* Increase padding for better touchability */
    font-size: 1rem; /* Increase font size for readability */
  }

  button {
    width: 100%; /* Make button full-width on mobile */
    padding: 12px; /* Increase padding for better touchability */
    font-size: 1rem; /* Increase font size for readability */
  }

  .error {
    font-size: 12px; /* Reduce error message font size */
  }
}
