/* Navbar Styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: transparent; /* Transparent Background */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-top: 20px;
  padding-bottom: 10px;
  transition: background-color 0.3s ease; /* Smooth transition for background */
}

/* Background Color When Scrolled */
.navbar.scrolled-navbar {
  background-color: rgba(0, 0, 0, 0.726) !important; /* Change background to black on scroll */
}

/* Centered Logo */
.navbar-logo.center-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-55%);
}

.navbar-logo .logo {
  width: 150px;
  height: auto;
  margin-top: 5px;
}

/* Admin Link on the Right */
.admin-link {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.admin-link a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.admin-icon {
  margin-right: 8px;
  font-size: 32px;
  color: rgb(255, 255, 255);
}
.admin-icon:hover {
  margin-right: 8px;
  font-size: 32px;
  color: rgb(117, 117, 117);
}

/* Navigation Links (Hidden in Mobile, Shown in Toggle) */
.navbar-links {
  list-style: none;
  display: none;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 999;
}

.navbar-links.mobile-open {
  display: flex;
}

.navbar-links li a, .contact-us-btn {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  transition: color 0.3s;
}

.navbar-links li a:hover, .contact-us-btn:hover {
  color: #000000;
}

/* Mobile Toggle Button on the Left */
.navbar-toggle-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
  display: block; /* Visible in both mobile and desktop */
}
.navbar-toggle-btn:hover {
  background: none;
  border: none;
  font-size: 24px;
  color: #5e5e5e;
  cursor: pointer;
  display: block; /* Visible in both mobile and desktop */
}

/* Contact Us Button */
.contact-us-btn {
  background-color: #000000;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

/* Responsive Styling */
@media screen and (min-width: 769px) {
  .navbar-links {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar-logo .logo {
    width: 150px;
  }
}
