/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  color: white;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.3s ease;
  padding-top: 35px;
  padding-bottom: 15px;
}

.navbar.scrolled-navbar {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Centered Logo */
.navbar-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-logo .logo {
  width: 200px;
  height: auto;
}

/* Admin Link */
.admin-link {
  margin-left: auto;
}

.admin-icon {
  font-size: 30px;
  color: white;
  margin-right: 70px;
}
.admin-icon:hover {
  font-size: 30px;
  color: rgb(138, 138, 138);
  margin-right: 70px;
}

/* Toggle Button */
.navbar-toggle-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  z-index: 1200;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
}
.navbar-toggle-btn:hover {
  background: none;
  border: none;
  font-size: 24px;
  color: rgb(138, 138, 138);
  cursor: pointer;
  z-index: 1200;
  margin-left: 20px;
}

/* Navigation Links */
.navbar-links {
  list-style: none;
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 30%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: left 0.3s ease;
  z-index: 1000;
  padding-top: 100px;
  padding-left: 50px;
  color: #000000;
}

.navbar-links.mobile-open {
  left: 0;
}

.navbar-links.mobile-closed {
  left: -100%;
}

.navbar-links li {
  margin: 15px 0;
}

.navbar-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}


/* Mobile View for smaller screens (phones) */
@media (max-width: 768px) {
  .navbar {
    padding-top: 15px; /* Further adjust padding for smaller screens */
    padding-bottom: 10px;
  }

  .navbar-logo .logo {
    width: 130px; /* Further reduce logo size for mobile screens */
  }

  .navbar-links {
    width: 80%; /* Maximize width on mobile */
    padding-left: 20px; /* Further reduce padding */
    top: 60px; /* Adjust navbar position for smaller screens */
  }

  .navbar-toggle-btn {
    font-size: 20px; /* Reduce toggle button size */
  }

  .navbar-links a {
    font-size: 14px; /* Further reduce font size for mobile screens */
  }

  .contact-us-btn1 {
    font-size: 13px; /* Adjust font size for mobile */
    padding: 8px 10px; /* Adjust padding for mobile */
  }
}
