/* src/components/Section0.css */

.section0 {
    background-color: #000000; /* Light gray background for contrast */
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;

  }
  .section0-heading {
    font-size: 30px;
    font-weight: 800;
    color: #ffffff; /* Black text color */
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
    padding: 0;
  }
  .section0-divider {
    width: 100px; /* Width of the divider */
    height: 4px; /* Thickness of the divider */
    background-color: #ffffff; /* Color of the divider */
    margin: 0 auto; /* Center the divider */
    border-radius: 2px; /* Optional: Rounded edges */
  }
  @media (max-width: 768px) {
    /* Section Container */
    .section0 {
      margin-top: 50px;
      margin-bottom: 40px;
      padding: 20px;
    }
  
    /* Heading Adjustments for Mobile */
    .section0-heading {
      font-size: 24px;
      font-weight: 700;
      padding: 10px;
    }
  
    /* Divider Alignment and Sizing for Mobile */
    .section0-divider {
      width: 80px;
      height: 3px;
      margin-top: 10px;
    }
  }
  